/* PLACING */

.center-cart {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

 .cart-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
 }

.list-cart-placing {
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 80%;
}

.list-cart-content-placing {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.list-cart-info {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.img-cart-products {
  width: 200px;
  height: 200px;
  object-fit: contain;
  object-position: center;
  display: flex;
  align-items: center;
}

.cart-placing {
  display: flex;
  justify-content: center;
  gap: 15px;
  margin-bottom: 5%;
  width: 80%;
}

.cart-right-side-placing {
  width: 50%;
  height: 90vh;
  position: sticky;
  top: 10px;
  background-color: #eef0f1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 5%;
}

.shopping-cart-row {
  display: flex;
  justify-content: space-between;
}

.cart-hr {
  width: 100%;
}

/* TEXT */

.product-cart-h3 {
  font-family: "Lato", sans-serif;
  font-size: 24px;
}

.product-cart-p {
  font-family: "Lato", sans-serif;
  font-size: 16px;
  font-weight: 400;
}

.product-cart-h5 {
  font-family: "Lato", sans-serif;
  font-size: 22px;
  font-weight: 600;
}

/* BUTTONS */

.cart-link-btn-primary {
  background-color: #8cbfdb;
  color: rgb(0, 0, 0);
  border: none;
  padding: 15px 55px;
  font-size: 24px;
  font-weight: 400;
  font-family: "Lato", sans-serif;
  width: 100%;
  border-radius: 4px;
  cursor: pointer;
  margin-bottom: 5%;
}

.cart-link-btn-primary:hover {
  background-color: #67add4;
}

.cart-link-btn-primary:active {
  background-color: #3fa3db;
}

.cart-link-btn-secondary {
  background-color: transparent;
  color: rgb(0, 0, 0);
  border: solid black 1px;
  padding: 15px 30px;
  font-size: 24px;
  font-weight: 400;
  font-family: "Lato", sans-serif;
  width: 100%;
  border-radius: 4px;
  cursor: pointer;
}

.cart-link-btn-secondary:hover {
  background-color: #a2c2e880;
}

.cart-link-btn-secondary:active {
  background-color: #a2c2e8;
}

.shopping-cart-button-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.shopping-cart-add-button-container {
  display: flex;
  align-items: center;
  gap: 10px;
  border: solid black 1px;
  height: 30px;
}

.add-remove-btn {
  background-color: transparent;
  height: 30px;
  width: 30px;
  border: none;
  cursor: pointer;
  color: black;
}

.cart-page-link-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  color: rgb(0, 0, 0);
  border: solid black 1px;
  font-size: 16px;
  border-radius: 0px;
  width: 35px;
  height: 35px;
  cursor: pointer;
}

.cart-page-link-btn:hover {
  color: red;
  border: solid 1px red;
}

.cart-link-btn {
  margin: 4px;
}

.cart-btn-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* EMPTY CART */

.empty-cart-message {
  text-align: center;
}

@media only screen and (max-width: 1024px) {

  .cart-placing {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
  }

  .cart-container {
    width: 100%;
  }

  .list-cart-placing {
    padding: 0;
    justify-content: center;
    align-items: center;
  }

  .shopping-cart-button-container {
    display: flex;

  }

    .list-cart-content-placing {
    margin-bottom: 25px;
    }
    

    .shopping-cart-button-container {
    gap: 10px;
    }

  .cart-right-side-placing {
    width: 90%;
    padding: 5%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .list-cart-content-placing {
    width: 100%;
  }
}
