@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");

.checkoutpage-first-container {
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
}

.checkoutpage-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  width: 80%;
}

.checkoutpage-h1 {
  text-align: center;
  font-family: "Outfit", sans-serif;
  font-size: 48px;
  font-weight: 600;
  margin-top: 50px;
  margin-bottom: 100px;
  color: #1a335b;
}

@media only screen and (max-width: 1024px) {
  .checkoutpage-container {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
    width: 80%;
    margin-bottom: 3%;
  }
}
