@import url("https://fonts.googleapis.com/css2?family=Lilita+One&display=swap");

.logo-dark {
  display: flex;
  align-items: baseline;
  flex-direction: row;
}

.lilita-one-regular {
  font-family: "Lilita One", sans-serif;
  font-weight: 300;
  font-style: normal;
  color: #1f385f;
}

.logo-cursor {
  color: #1f385f;
  font-size: 30px;
  margin-left: 0px;
}

.logo-cursor:hover {
  color: #1f385f;
  cursor: default;
}

a {
  text-decoration: none;
}
