@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");
:root {
  --brand: #1a335b;
}

.navbar-container-highest {
  display: flex;
  justify-content: center;
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  padding: 2%;
}

.logo {
  width: 200px;
}

.nav-links-container {
  display: flex;
  flex-direction: row;
  width: 30%;
  justify-content: space-between;
}

.nav-link {
  text-decoration: none;
  color: var(--brand);
  font-family: "Outfit", sans-serif;
  font-size: 20px;
}

.nav-link:hover {
  text-decoration: underline;
}

.nav-shopping-cart-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}

.shopping-cart {
  font-size: 30px;
  color: #1a335b;
}

.hamburgermenu {
  display: none;
}

@media only screen and (max-width: 768px) {
  .nav-link {
    display: none;
  }

  .hamburgermenu {
    display: flex;
    color: var(--brand);
    font-size: 20px;
  }
}
