/* ProductPage.css */
@import url(“https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap”);
@import url(“https://fonts.googleapis.com/css2?family=Lato:wght@100..900&display=swap”http://www.google.com/fonts/specimen/Lato);

.product-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 100px;
  max-width: 800px;
  margin: 0 auto;
  border-radius: 8px;
  justify-content: center;
  margin-bottom: 200px;
  font-family: “Outfit”, sans-serif;
}

.product-title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
  text-align: left;
  font-family: “Outfit”, sans-serif;
}

.product-content {
  display: flex;
  flex-direction: row;
  width: 100%;
  font-family: Lato, Helvetica, sans-serif;
  justify-content: center;
  margin-top: 50px;
}

.product-image {
  max-width: 50%;
  max-height: 400px;
  height: auto;
  margin-bottom: 20px;
  object-fit: cover;
  border-radius: 8px;
  padding-right: 48px;
  object-position: center;
  margin-top: 50px;
  object-fit: contain;
}

.product-details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 50%;
}

.product-title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
}

.product-description {
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 20px;
  text-align: left;
}

.product-price {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 20px;
}

.product-button {
  background-color: #8cbfdb;
  color: rgb(0, 0, 0);
  border: none;
  padding: 15px 30px;
  cursor: pointer;
  transition: background-color 0.3s;
  margin-top: 50px;
  font-size: 24px;
  font-weight: 400;
  font-family: "Lato", sans-serif;
  border-radius: 4px;
  margin-bottom: 5%;
}

.product-button:hover {
  background-color: #67add4;
}

.back-to-homePage-navigation {
  display: flex;
  border-radius: 4px;
  font-size: smaller;
  cursor: pointer;
  margin-right: 680px;
  margin-bottom: 50px;
}

.back-to-homePage-button {
  display: flex;
  padding-right: 5px;
}

.back-to-home-page-text {
  margin-top: 4px;
  margin-left: 5px;
}

.back-to-homePage-navigation:hover {
  background-color: #a2c2e867;
}

@media screen and (max-width: 768px) {
  .product-content {
    flex-direction: column;
    margin-top: 0px;
  }

  .product-container {
    margin-right: 10px;
    padding-top: 20px;
  }
  .product-image {
    max-width: 50%;
    align-self: center;
    max-height: 30%;
    margin-left: 50px;
  }

  .product-details {
    max-width: 70%;
    align-self: center;
  }

  .back-to-homePage-navigation {
    margin-right: 400px;
  }
}

@media only screen and (max-width: 460px) {
  .back-to-homePage-navigation {
    margin-right: 300px;
  }
}
