/* ProductPage.css */
@import url(“https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap”);
@import url(“https://fonts.googleapis.com/css2?family=Lato:wght@100..900&display=swap”http://www.google.com/fonts/specimen/Lato);

.product-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 100px;
  max-width: 800px;
  margin: 0 auto;
  border-radius: 8px;
  justify-content: center;
  padding-bottom: 200px;
}

.product-title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
  text-align: left;
  font-family: “Outfit”, sans-serif;
}

.product-content {
  display: flex;
  flex-direction: row;
  width: 100%;
  font-family: Lato, Helvetica, sans-serif;
  justify-content: center;
}

.product-image {
  max-width: 50%;
  max-height: 400px;
  height: auto;
  margin-bottom: 20px;
  object-fit: cover;
  border-radius: 8px;
  padding-right: 48px;
  object-position: center;
}

.product-details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 50%;
}

.product-title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
}

.product-description {
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 20px;
  text-align: left;
}

.product-price {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 20px;
}

.product-button {
  background-color: #8cbfdb;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.product-button:hover {
  background-color: #67add4;
}

@media screen and (max-width: 1024px) {
  .product-content {
    flex-direction: column;
  }

  .product-image {
    max-width: 50%;
    align-self: center;
    max-height: 30%;
  }

  .product-details {
    max-width: 70%;
    align-self: center;
  }
}
