@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Outfit:wght@100..900&display=swap");

.API-section {
  padding: 20px;
}

.APIproducts-h1 {
  text-align: center;
  margin-bottom: 20px;
}

.APIproduct-filter {
  text-align: center;
  margin-bottom: 20px;
}

.category-buttons {
  display: flex;
  gap: 20px;
  justify-content: center;
  margin-top: 10px;
}

.category-buttons button {
  padding: 10px 10px;
  font-size: 16px;
  cursor: pointer;
  color: black;
  border: 1px solid black;
  border-radius: 28px;
  transition: background-color 0.3s;
  background-color: transparent;
  width: 180px;
}

.category-buttons button:hover {
  background-color: #a2c2e867;
}

.category-buttons button.active {
  background-color: #a2c2e8;
}

.APIproduct-div {
  border: 1px solid #ddd;
  padding: 20px;
  width: 200px;
  text-align: center;
  border-radius: 5px;
}

.APIproduct-list {
  font-family: "Lato", sans-serif;
  width: 80%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  justify-items: center;
  gap: 28px;
}

.APIproduct-div:hover {
  border: #cbcbcbbd solid 1px;
  border-radius: 10px;
  cursor: pointer;
  overflow: hidden;
}

.APIproduct-div img {
  max-height: 224px;
  min-height: 224px;
  object-fit: contain;
  width: 90%;
  margin-left: 5%;
}

.APIproducts-h3 {
  width: 100%;
  font-weight: 600;
  font-size: 20px;
  text-align: center;
  font-family: "Lato", sans-serif;
}

.API-product-price {
  font-family: "Lato", sans-serif;
  font-size: 20px;
  font-weight: 700;
  text-decoration: none;
}

@media only screen and (max-width: 768px) {
  .APIproduct-div img {
    width: 100%;
  }

  .APIproduct-list {
    grid-template-columns: 1fr 1fr;
  }
}

.APIproduct-btns {
  margin-top: 10px;
}

.APIproduct-cart-btn {
  background-color: #28a745;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
}

.APIproduct-cart-btn:hover {
  background-color: #218838;
}
